html {

  background-color: blanchedalmond;
}

body {
/*  
  grid-template-columns: auto auto 2fr 1fr 3fr 1fr 2fr;
  grid-template-rows: auto; */
  padding-left: 50px;
  padding-right: 100px;
  padding-top: 10px;
  width: fit-content;

}

table {

  padding-top: 10px;
  table-layout: auto;
  border-bottom: groove rgb(228, 169, 9) 10px;

}

h1 {

  padding: 20px;
  background: #450101;
  color: white;
  font-size: 20px;
  border-radius: 20px;

}

.haha {

  padding: 5px;
  background: #450101;
  border-radius: 20px;

}