html {

  background-color: blanchedalmond;

}

body {

  padding-left: 50px;
  padding-right: 100px;
  padding-top: auto;
  width: fit-content;


}

h1 {

  padding: 20px;
  background: #853433;
  color: white;
  font-size: 20px;
  border-radius: 20px;

}

.haha {

  padding: 5px;
  background: #853433;
  border-radius: 20px;
  font-size: small;


}

table {

  padding: 5px;
  table-layout: auto;
  border: groove rgb(228, 169, 9) 10px;
  border-radius: 10px;

}

th,
td {

  border: double blue;
  border-radius: 10;
}