<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm/Delete</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
 
</head>

    <h1>Delete???</h1>
 
<body>
   <strong>Detail: </strong>
   <label th:text = "${task.description}"></label><br>
    <strong><label>Priority: </label></strong>
    <label th:text = "${task.priority}"></label><br>
    <strong><label>Completed: </label></strong>
    <label th:text = "${task.status}"></label><br>
   <strong><label>Due Date: </label></strong>
    <label th:text = "${task.dueDate}"></label><br>
    <Strong><label>Category: </label></Strong>
    <label th:text = "${task.category}"></label><br>
   <button type="button" id="confirm"><a th:href="@{confirmDelete/{id}(id=${task.taskId})}" class="confirmButton"> Confirm?</a></button>
    <button id="cancel"><a th:href="@{/}" class="cancelButton"> Cancel </a></button>
  
      <script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>
</html>