<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    Detail
    <label>DESCRIPTION</label>
    <label th:text = "${task.description}"></label><br>
    <label>PRIORITY</label>
    <label th:text = "${task.priority}"></label><br>
    <label>Current Status</label>
    <label th:text = "${task.status}"></label><br>
    <label>Task Due Date</label>
    <label th:text = "${task.dueDate}"></label><br>
    <label>Task Category</label>
    <label th:text = "${task.category}"></label><br>
    <button>Go Back<a href = "index.html"></a></button>

</body>
</html>