<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body>
    <div class="header">
        <h1>Detail</h1>
      </div>

      <header><strong>More Details</strong></header> 

    <label>Decription: </label>
    <label th:text = "${task.description}"></label><br>
    <label>Priority: </label>
    <label th:text = "${task.priority}"></label><br>
    <label>Current Status: </label>
    <label th:text = "${task.status}"></label><br>
    <label>Due Date: </label>
    <label th:text = "${task.dueDate}"></label><br>
    <label>Category: </label>
    <label th:text = "${task.category}"></label><br>
    <button><a th:href="@{/}" class="cancelButton"> Go Back </a></button>

</body>
</html>