<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="header">Edit</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>

<div class="header">
  <h1>Edit/ADD</h1>
</div>

<header><strong>Edit</strong></header> 

<body>
  <form action=" "th:action="@{/}" th:object="${task}"method="post">
    <input type = "hidden" th:field="*{taskId}"/>
   <label>Description</label> 
    <input type="text" th:field="*{Description}">
    <label>Category</label>
    <select th:field="*{category}">
    <option th:each="p : ${lstCategory}" th:value ="${p}" th:text="${p}"/>
    </select><br>



    <label>Status</label>
    <input type ="checkbox" th:field="*{status}"><br>

    
    <label>Priority</label>
    <select th:field="*{priority}"> 
      <option th:each="p : ${lstPriority}" th:value ="${p}" th:text="${p}"/>

    <option th:value="${p}" th:text="${p}"/>
  

    <select th:field="*{category}"th:value="${p}" th:text="${p}"/>
    </select><br>

    <label>Due Date</label>
    <input type= "date" th:field="*{dueDate}"><br>

    <button type="submit">Save</button>

    <button><a th:href="@{/}" class="cancelButton"> Cancel </a></button>
  </form>
</body>
</html>
