<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<container class="home"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
  
<body>
  <h1>To-Do List</h1>
<div class="haha"><a th:href="@{/create}"> <h11>New Task</h11></a></div>  
   
    <table>
        <thead>
            <tr>
                <th>
                    Description 
                </th>
                <th>
                    Priority
                </th>
                <th>
                 Status
                </th>
                <th>
                   Date
                </th>
                <th>
                   Category
                </th>
                <th>  📒 </th>
                <th> 📝 </th>
                <th> ❗ </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.description}"></td>
                <td th:text="${task.priority}"></td>
                <td th:text="${task.status}"></td>
                <td th:text="${task.dueDate}"></td>
                <td th:text="${task.category}"></td>
                <td><a th:href="@{/{id}(id=${task.taskId})}">Detail</a></td>
                <td><a th:href="@{edit/{id}(id=${task.taskId})}">Edit</a></td>
                <td><button><a th:href="@{delete/{id}(id=${task.taskId})}">Delete</a></td></button>
            </tr>
        </tbody>
    </table>

</body>
</container>

</html>