<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
  <div class="header">
    <h1>To-Do List</h1>
  </div>
<body>
 
    <a th:href="@{/create}"> Create </a>
    <table>
        <thead>
            <tr>
                <th>
                    Task Description
                </th>
                <th>
                    Task Priority
                </th>
                <th>
                    Current Status
                </th>
                <th>
                    Task Due Date
                </th>
                <th>
                    Task Category
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.description}"></td>
                <td th:text="${task.priority}"></td>
                <td th:text="${task.status}"></td>
                <td th:text="${task.dueDate}"></td>
                <td th:text="${task.category}"></td>
                <td><a th:href="@{/{id}(id=${task.taskId})}">Detail</a></td>
                <td><a th:href="@{edit/{id}(id=${task.taskId})}">Edit</a></td>
                <td><a th:href="@{delete/{id}(id=${task.taskId})}">Delete</a></td>
            </tr>
        </tbody>
    </table>

</body>

</html>